@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply underline text-amber-800;
}

#helpPanel {
  @apply text-lg;
}

#helpPanel > div > article {
  /* iOS Safari requires this workaround for z-index + scrolling content.
  Without this, the hidden part is blank even when scrolled into view. */
  -webkit-transform: translate3d(0, 0, 0);
}

#helpPanel h2 {
  @apply text-2xl mb-4 mt-6 font-bold;
}

#helpPanel b {
  @apply text-amber-800;
}

#helpPanel p {
  @apply mt-4 mb-4;
}

button,
#helpPanel nav a {
  @apply hover:bg-amber-500/10 active:brightness-50;
}

.abcjs-highlight {
  fill: #0a9ecc;
}

.abcjs-cursor {
  stroke: red;
}

.abcjs-inline-audio {
  background-color: transparent !important;
}

.abcjs-midi-progress-background {
  @apply bg-black/30 border-transparent !important;
}

.abcjs-midi-progress-indicator {
  @apply drop-shadow-lg;
}